body{
 	background: lightblue;
 	margin: 0px auto;
}

.divmain1{
	width: 1500px;
	height: auto;
	background: lightgreen;
	border: 2px black solid;
}

.divmain2{
	width: 300px;
	height: auto;
	background: lightgreen;
	border: 2px black solid;
}

.divmain3{
	width: 100px;
	height: auto;
	background: lightgreen
	border: 2px black solid;
}

.linkdiv{
    width: 250px;
    height: auto;
    background: lightgreen;
    border: 2px black solid;
    display: inline-block;
    margin-bottom: 10px;
}

.text{
	color:green ;
	font: 40pt Arial black;
}
