body{
 	background: lightblue;
 	margin: 0px auto;
}

.divmain1{
	width: 250px;
	height: auto;
	color: blue;
	background: lightgreen;
	border: 2px black solid;
	float: center;
}
.divmain2{
	width: 250px;
	height: auto;
	color: blue;
	background: lightgreen;
	border: 2px black solid;
	float: right;
}
.divmain3{
	width: 250px;
	height: auto;
	color: blue;
	background: lightgreen;
	border: 2px black solid;
	float: left;
}
