body{
    background: lightblue;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.larsdiv{
    width: 250px;
    height: auto;
    background: lightgreen;
    border: 2px black solid;
    display: inline-block;
    margin-bottom: 10px;
}

.snapchat{
  float: right;
}

.github{
  width: 250px;
  height: auto;
  background: lightgreen;
  border: 2px black solid;
  display: inline-block;
  margin-bottom: 10px;
}
